## IDEA ##
.idea

### OS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

## NodeJS ##
node_modules
npm-debug.log

## Composer ##
composer.phar
/vendor/
blacklist_modules/php/bin/*
!blacklist_modules/php/bin/.gitkeep
blacklist_modules/php/libs/
blacklist_modules/php/build/
composer.lock